language: node_js

node_js:
  - 'node'
  - '8'
  - '7'
  - '6'
  - '5'
  - '4'
  - '0.12'
  - '0.10'
  - 'iojs'

addons:
  code_climate:
    repo_token: f353d09beed66f6bbb15d9f5c0661332c53dac0c1e89a7b4fa564166a2a8fe52

after_script:
  - npm run coverage
  - codeclimate-test-reporter < coverage/lcov.info

jobs:
  include:
    - stage: npm release
      if: tag IS present
      node_js: '6'
      script: echo "Deploying to npm ..."
      after_script: skip
      deploy:
        provider: npm
        email: vatev.1+npm@gmail.com
        api_key:
          secure: Wjnl1nFChI0c1hYg5Q3SrsReJ62p4gQx7+RFQTkuuGmAO8GLihldBoKrC7Idul/OHL/9gZlYTbqTAv2xwvszDJecg37uoWl7q57bZ6gLDZ/3Ijo/tve/O2fVDSoKFA0pXMrw7myOePVvdb3F47Aicg1u9Hj8R5Tf1PuTZqngyhgR01Iob1vgV4iGUSkh3+IqbqnQNaj4geWq7383tHb4LgwOZex4Jtw1p8nLQhjAPOv0fboUEJNvY7m6COAC2Hm4kGIr5+uV6JCtbEosAawJZnkwT9O6Cvb8DhCH/E6/QA5xjTFF0vpxTTEetpVS+PtMxZ5prXawqKEuXgB21VBFuqT74VipJuG41rePGyqU7ds/lS+hy+HzJWOsZYsZFmGD3Sev1hICsqI3vvF/N2c5jPtlAbAuptXERm8FZFIyFPL0JI8Paq4BkZtacQ8QIWRW6QQR1rfp+Fw0H/d4tsKEflsDRopwVIry5N+a9iG4d+mIkOZs4uMJ2sgvU9NQlIX9okVSjIpnK7egWgONYG7CVHxO46UJFA5w/pEbDvGNgMpCIpaKVm80wV47SN2ply3o/ttg04nUmL0rJj5d24EfRxW4gm9pPCqokAC/iUYGfjUsXk5Boezz9HkaePoet1BVjuFZKY/8vJRCKXKIUZ5UcH7d/xigpmGaUNMU5zUUxJw=
        on:
          tags: true
          repo: catdad/gulp-multistream
